@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.heart {
  position: fixed;
  bottom: -50px;
  font-size: 24px;
  animation: floatUp 5s linear forwards;
  pointer-events: none;
  z-index: 999;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
}
